*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: #241E20;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.2) 100%), url(./img/header.jpg);
    background-position: center;
    background-size: contain;
}

.jumbotron h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    text-transform: uppercase;
    text-shadow: 4px 4px grey;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.team-area {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url(./img/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    height: 70vh;
}

.card {
    box-shadow: 10px 10px lightgray;
    margin: 3rem;
    width: 20vw;
    min-width: 240px;
}

.manager .card-header{
    background-color: red;
    color: white;
}

.manager .card-body{
    background-color: #FFD1D1;
}

.manager li:hover {
    background-color: #FF9E9E;
    color: white;
}

.manager li:hover a:hover, .manager li:hover a:link, .manager li:hover a:visited {
    color: white;
}

.engineer .card-header{
    background-color: blue;
    color: white;
}

.engineer .card-body{
    background-color: #BABAFF;
}

.engineer li:hover {
    background-color: #9393FF;
    color: white;
}

.engineer li:hover a:hover, .engineer li:hover a:link, .engineer li:hover a:visited {
    color: white;
}

.intern .card-header{
    background-color: green;
    color: white;
}

.intern .card-body{
    background-color: #CCE0CC;
}

.intern li:hover {
    background-color: #7CDD7C;
    color: white;
}

.intern li:hover a:hover, .intern li:hover a:link, .intern li:hover a:visited {
    color: white;
}